<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Frontend</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="jquery-3.4.1.min.js"></script>
    <script src="jquery.dataTables.min.js">
    </script>
    <script src="angular-datatable.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="" href="datatables.bootstrap.css">

</head>

<body ng-app="notes_insert" ng-controller="controller">
    <!-- <app-root></app-root> -->
    <div class="container" ng-init="fetchData()">
        <br/>
        <h1 align="center">Add Notes Here</h1>
        <br/>
        <div align="right">

        </div>
        <br/>
        <div class="table-responsive" style="overflow: unset ;">
            <table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Notes</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="note in notesData">
                        <td>{{note.title}} </td>
                        <td>{{note.notes}} </td>
                        <td>{{note.author}} </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <h2 align="center">Add Notes Here</h2>
        <div>
            <label>Title</label><input type="text" name="title" ng-model="title" class="form-control"><br/>
            <label>Notes</label><input type="text" name="notes" ng-model="notes" class="form-control"><br/>
            <label>Title</label><input type="text" name="author" ng-model="author" class="form-control"><br/>
            <input type="submit" name="insert" class="btn btn-success" ng-click="insert()" value="Insert">
        </div>
    </div>
    <!-- table -->
    <script>
        var app = angular.module('notes_insert', ['datatables']);
        app.controller("controller", function($scope, $http) {
            $scope.fetchData = function() {
                $http.get("../backend/api/create.php").success(function(data) {
                    $scope.notesData = data;
                });
            }
        });
    </script>
    <!-- end table -->
    <!-- insert -->
    <!-- <script>
        var app = angular.module('notes_insert', []);
        app.controller("controller", function($scope, $http) {
            $scope.insert = function() {
                $http.post(
                    "../backend/api/create.php", {
                        'title': $scope.title,
                        'notes': $scope.notes,
                        'author': $scope.author
                    }
                ).success(function(data) {
                    alert(data);
                    $scope.title = null;
                    $scope.notes = null;
                    $scope.author = null;
                });
            }
        });
    </script> -->
    <!-- end insert -->
</body>

</html>